<h3>Signup</h3>
<ul>
    <li>
        Username<br>
        <input type="text" name="username_reg" size="32"></input>
        <div class="checker username_reg"></div>
    </li>
    <li>
        Password<br>
        <input type="password" name="password_reg" size="32"></input>
        <div class="checker password_reg"></div>
    </li>
    <li>
        Confirmation Password<br>
        <input type="password" name="password_confirm_reg" size="32"></input>
        <div class="checker password_confirm_reg"></div>
    </li>

    <li>
        E-mail Address<br> 
        <input type="email" name="email_reg" size="32"></input>
        <div class="checker email_reg"></div>
    </li>

    <li>
        Confirmation E-mail Address<br> 
        <input type="email" name="email_confirm_reg" size="32"></input>
        <div class="checker email_confirm_reg"></div>
    </li>

   
    <li>
        <input type="checkbox" name="agreement" value="yes"></input> I agree to the <a href="">Term of Service</a> and <a href="#">Privacy Policy</a>
    </li>
    
    <li>
        <button class="button" name="register">Confirm</button>
    </li>
    
    <li>
        <div id="error"></div>
    </li>
</section>